/*******************    Стили ЛК Заказчика  **************************/
body{
	/*position: absolute;*/
	font-family: "Roboto Condensed", sans-serif!important;
	background-color: #999!important;	
}

/*******************  Навигационная панель  **************************/
	.navbar.navbar-default {
		margin-bottom: 0;
		background-color: #fff;
	    border: none;
	}

	.navbar_img img{
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}

	.navbar-default .navbar-nav > li > a{
		font-size: 18px;
		font-weight: normal;
	}

	.navbar-default .navbar-nav > .open > a,
	.navbar-default .navbar-nav > .open > a:hover, 
	.navbar-default .navbar-nav > .open > a:focus { 
		background: unset;
		color: #AE4A84;
		font-weight: bold;
	}

	.navbar-default .navbar-nav > li.active > a { 
	/*.navbar-default .navbar-nav > .active > a:hover, */
	/*.navbar-default .navbar-nav > .active > a:focus {*/
		background: unset!important;
		color: #AE4A84!important;
		font-weight: bold;
	}

	.navbar-default .navbar-nav > li > a:hover{
		color: #AE4A84;
		font-weight: bold;
	} 

	.dropdown-menu > li > a {
		font-size: 18px;
		color: #AE4A84;
		padding-top: 12px;
	    padding-bottom: 12px;
	}

	.dropdown-menu > li > a:hover, 
	.dropdown-menu > li > a:focus {
		font-weight: bold;
		color: #AE4A84;

	}

	#w2-collapse{
		padding: 0;
	}	

	.navbar_img{
		display: inline-block;
	}

	ul.navbar-nav.navbar-right.nav{
		display: inline-block;
		float: none!important;
	}

	nav .container{
		width: 100%;
		padding: 0;
	}

	.header_item{
		position: relative;
	}

	#badge_chat {
		background-color: #f50d0d;
	    position: absolute; 
	    /*margin-left: -12px;*/
	    top: 6px; /*16px;*/
	    width: 16px !important;
	    height: 16px !important;
	    padding: 3px 2px !important;
	    font-size: 12px !important;   
    }

	#badge_chat	{
		top: 8px;
	    left: 128px;
	}
/*******************  Навигационная панель Конец  ********************/	


.wrapper__lk{
	margin-top: 140px;
}

/*******************  Левая панель  **********************************/
	.lk__left,
	.lk__main{
		background: #fff;
		border-radius: 10px;
		/*padding: 0 0 10px 0;*/
		margin-bottom: 20px;	
	}

	.lk__left{
		padding: 0 0 10px 0;
	}

	.lk__main{
		padding: 35px 0 10px 0;
	}

	.filtr__header{
		position: relative;
		margin-bottom: 35px;
	}

	#reset{
		position: absolute;
		bottom: 0px;
		right: 0;
		line-height: 22px;
		font-size: 14px;
		color: #AE4A84;
		text-decoration: none;
		/*margin-left: 50px;*/
	}

	.only_top{
		display: flex;
		justify-content: space-between;
		position: relative;
		font-size: 18px;
		font-weight: bold;
		color:#AE4A84;
		margin-bottom: 20px;

	}

	.glyphicon.glyphicon-calendar.kv-dp-icon{
		left: 8px;
	}

	.filtr{
		width: 85%;
	    margin: 0 auto;
		padding-top: 30px;
	}

	.lk__left a.register.active{
		display: block;
		margin: 0 auto;
		background-color: #AE4A84;
	    border-radius: 10px; 
	   
	    width: 184px;
	    height: 45px;    
	    color:  #fff;     
	    
	    font-weight: 700;
	    font-style: normal;
	    font-size: 18px;
	    line-height: 45px;
	    text-align: center;
	    cursor: pointer;    
	}

	.filtr .title {
		display: inline-block;
		padding-top: 30px;
		font-size: 24px;
		font-weight: bold;
	}

	#orderfiltrform-city_id,
	#execfiltrform-city_id,
	#regform-city_id{
		height: 0;
	}

	.chosen-container.chosen-container-multi{
		display: block;
	    width: 100%;
	    /*height: 34px;*/
	    /*padding: 6px 12px;*/
	    font-size: 14px;
	    line-height: 1.42857143;
	    color: #555;
	    background-color: #fff;
	    background-image: none;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
	    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
	    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}

	.field-orderfiltrform-city_id .chosen-container-multi .chosen-choices{
		border: 0;
		background-color: transparent;
		background-image: none;
	}

	.chosen-container-multi .chosen-choices li.search-field {
		padding-left: 9px!important;		
	}

	.chosen-container-multi .chosen-choices li.search-field input[type=text].default{
		font-family: 'Roboto Condensed'!important;
		font-size: 14px;
		font-weight: 400;
		color: rgb(85,85,85)!important;
		height: 30px;
	}

	.input__block{
		position: relative;
		margin-bottom: 15px;
	}

	.input__block .glyphicon-ruble,
	.input__block .glyphicon-chevron-down {
		position: absolute;
		top: 40px;
	      
	    font-size: 12px; 
	}

	.input__block .glyphicon-chevron-down{
		font-size: 15px;
    	opacity: 0.7; 
    	right: 5px; 
    }

    .input__block .glyphicon-ruble{
    	right: 10px;
    }	

	.active__button{
		height: 45px;
	    line-height: 45px;
	    text-align: center;
	    margin: 0 auto;   
	}

	#orders_list a{
		text-decoration: none;
		color: #000;
	}
	    
/*******************  Левая панель  Конец ******* *********************/ 

/*******************  Правая панель   *********************************/ 
	#orders_list{
		width: 644px;
    	margin: 0 auto;
	}

	.order_number{
		position: absolute;
	    right: 60px;
	    font-size: 17px;
	    font-weight: 700;
	    color: rgb(174, 74, 132);
	}

	a.block{
		text-decoration: none;
	}

	.order_item.execlist .exec_details{
		display: block;
	} 

	.lk__main p{
		padding: 30px;
		margin: 0;
	}

	.input-group.order-search {
		position: relative;
		width: 644px;
		margin: 0 auto;
	}

	.glyphicon.glyphicon-search {
		position: absolute;
		left: 12px;
    	top: 12px;
    }

    span.input-group-addon.search {
	    padding: 6px 18px;
	    font-size: 14px;
	    font-weight: 400;
	    line-height: 1;
	    color: #555;
	    text-align: center;
	    background-color: #eee!important;
	    border: 1px solid #ccc!important;
	    border-radius: 4px;
	}	

	.order_item{
		max-width: 644px;
		box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
		border-radius: 5px;
		margin: 10px auto;
		padding: 12px 24px;
	}

	.order_category,
	.order_budget {
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 8px;
	}

	.order_details{
		font-size: 12px;
		line-height: 14px;
		text-align: left;
		margin-bottom: 8px;
	}

	.order_budget{
		display: block;
	    width: 100%;
	    text-align: right;
	}

	.order_city {
		float: left;
	}

	.order_added {
		float: right;
	}

	.order_down{
		display: flex;
		justify-content: space-between;
	}

	.color_green{
	 	color: green;
	}

	.color_red{
	 	color: red;
	}

/*******************  Правая  панель  Конец *****************************/ 

/*******************  Страница добавления заказа  ***********************/
	.page__addorder{
		/*height: 900px;*/
	}

	.step_one{
		width: 568px;
		margin: 0 auto;
	}

	.chosen-container-single .chosen-single div b{
		background: url('/web/uploads/images/down_icon12x12.png') no-repeat 0 10px!important;
	}

	.field-addorderform-who_need,
	.field-addorderform-city_id	 {
		width: calc( ( 100% - 40px ) / 2 );
	}

	.add_category{
			font-weight: bold;
			color: #AE4A84;
			cursor: pointer;
			margin-bottom: 15px;
	}	

	.form_addorder_title{
		font-size: 28px;
	    font-weight: 700;
	    text-align: center;
	    padding-top: 32px;
	    padding-bottom: 24px;
	}

	.cabinet-addOrder{
		/*width: 343px;*/
		margin: 0 auto;
	}

	.wrapper__addorder{
		/*position: relative;*/	
		width: 732px;
	    margin: 140px auto 30px;    
	    /*margin-bottom: 30px;*/
	    border-radius: 10px;
	    background: #fff;
	    padding-bottom: 30px;
	}


	.chosen-container-single .chosen-single {
		height: 34px!important;
	}

	a.chosen-single{
		height: 34px;
		padding-left: 14px!important;
		font-size: 14px!important;
		background: none!important;
	}

	a.chosen-single span{
		line-height: 34px;
		color: #555!important;
	}

	.chosen-master {
	  display: inline-block !important;
	  width: 1px;
	  height: 1px;
	  margin: 0;
	  padding: 0;
	  border: 0;
	}

/*************************** Вторая страница ****************************/
	.step_two{
		display: none;	
	    width: 568px;
	    margin: 0 auto;
	}

	.field-addorderform-members{
		width: 50%;
	}

	#addorderform-details{
		resize: vertical;
	}

	.flex_block {	
		display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;	
	}

	.flex_block .form-group{
		width:calc( ( 100% - 40px ) / 2 );
	}

	.choose_elements {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	#addorderform-order_budget,
	#addorderform-prepayment{
		display: none;
		/*width: 45%;*/
	}

	.item_choose{
		width: 45%;
	}

	.input-group-addon {
		background-color: #fff!important;
	    border: none!important;
	}

	.input-group-addon.kv-field-separator::before{
		content: 'до';
		color: #000;
		color: #000;    
	    padding-left: 11px;
	}

	span.input-group-addon.kv-field-separator{
		color: #fff;
	}

	.cont{
		display: none;
	}

	.cont.active{
		display: block;
	}

	#c0.cont{
		display: block;
	}

	.image-preview.image_large {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: center; ;
	    margin-bottom: 10px;
	    align-items: center;
	}

	.photo_item {
	    position: relative;
	    /*width: calc( ( 100% - 50px ) / 3 );*/
	    width: 160px;
	    height: 160px;
	    overflow: hidden;
	    margin: 10px;
	}

	.image-preview.image_large img {
	    width: 100%;
	    height: auto;
	    margin-top: 10px;
	}

	div.add-photo {
	    display: block;
	    position: relative;
	    background: url(/web/uploads/images/ic-photo.png) no-repeat;
	    background-position: right +25px bottom +10px;
	    background-size: 28px 28px;
	    border-radius: 7px;
	    height: 50px; /*150px;*/
	    /*padding: 25px 15px;*/
	    padding-left: 15px;
	    font-family: 'Montserrat', sans-serif;
	    font-size: 14px;
	    line-height: 50px;
	    font-weight: 400;
	    color: #2c2f39;
	    background-color: #f2f2f2;
	    border: 1px solid #f2f2f2;
	    border-radius: 6px;
	    -webkit-box-shadow: none !important;
	    box-shadow: none !important;
	}

	.add-photo input[type="file"]#image {
	    position: absolute;
	    opacity: 0;
	    width: 100%;
	}

	input#image {
	    cursor: pointer;
	}

	input[type="file"] {
    /* position: absolute; */
	    top: 0;
	    left: 0;
	    height: 50px;  /*150px;*/
	    width: 100%;
	    /* opacity: 0; */
	    color: #2c2f39;
	    background-color: #f2f2f2!important;
	    /* border: 1px solid #f2f2f2!important; */
	    border-radius: 6px;
	}

	.pagination{
		padding-left: 20px!important;
	}


/*******************  Страница добавления заказа Конец ******************/

/*******************  Карточка заказа  **********************************/
	.wrapper__addorder__card{
		padding: 0;
		border-radius: 0;
		background: transparent;
	}

	.b_header{
		position: relative;
		height: 147px;
		background-color: #AE4A84;
		border-radius: 10px;
		color: #fff;
		margin-bottom: 32px;
	}

	.b_header .b_text{
		top: -20px;
	}

	.b_header div{
		display: inline-block;	
	}

	.b_right{
		position: absolute;
		right: 10px;
	}

	.b_avatar{
		width: 92px;
		height: 92px;
		border-radius: 50%;
		/*background-color: #424242;*/
		border: 0.5px solid #fff; 
		margin: 19px 24px; 
	}

	.b_avatar img{
		width: 89px;
		height: 90px;
		border-radius: 50%;
	}

	.b_text{
		position: relative;
		top: 20px;
	}

	.b_text span.fio{
		display: block;
		font-size: 18px;
		line-height: 18px;
	}

	.b_text.b_text__exec p.check{		
		font-size: 14px;
		line-height: 14px;
		color: #4cd964;
		margin-top: 12px;
		margin-bottom: 0;
		font-weight: bold;
		font-weight: bold;
	}

	.b_right {
	    position: absolute;
	    right: 24px;
	    top: 30px;   
	}

	.b_right .order_num{
		font-size: 18px;
		line-height: 18px;
		font-weight: bold;
		text-align: right;
	}

	.b_right .letter{
		line-height: 38px;
	    padding-left: 26px;
		width: 139px;
		height: 40px;
		background-color: #fff;
		border-radius: 10px;
		margin-top: 10px;
	}

	.b_right .letter img{
		margin-right: 15px;
	}

	.b_right .letter span{
		color: #AE4A84;
	}

	.letter div{
		position: relative;
	    top: 1px;
	}

	/**************************** Содержание заказа ***************************/
	.order_content{
		background-color: #fff;
		border-radius: 10px;
		padding: 0 35px 48px;
	}

	.order_content__title{
		font-size: 28px;
		font-weight: 700;
		line-height: 32.81px;
		color: #000;
		text-align: center;
		padding-top: 32px;
    	padding-bottom: 8px;
	}

	.order_content__budget{
		font-size: 22px;
		font-weight: bold;
		line-height: 26px;
		text-align: center;
		padding-bottom: 16px;
	}

	.order_content__declare{
		font-size: 20px;
		font-weight: bold;
		line-height: 18px;
		margin-bottom: 12px;
	}

	.order_content p{
		margin-bottom: 12px;
		color: #424242;
	}

	.slider img {
		max-width: 200px;
	}

	.slick-prev:before, .slick-next:before {
		color: #000!important;
	}

	.order_content__subtitle {
		margin-top: 16px;
		margin-bottom: 8px;	
		font-size: 18px;
		line-height: 18px;
		font-weight: bold;	
	}

	.reiting {
		margin-top: 16px;
		margin-bottom: 8px;	
	}	

	.reiting div.blank { 
		position: relative;
	    top: -5px;
	    left: 20px;
	    display: inline-block;
	    font-size: 14px;
		line-height: 14px;
		font-weight: normal;
	}

	.order_content .text{
		font-size: 14px;
		line-height: 18px;
		font-weight: normal;
	}

	.order_content span.cancel{
		text-decoration: line-through;	
	}

	.order_content span.blank{
		margin-left: 20px;
	}

	.abonement.active{
		width: 668px;
		height: 65px;
		margin: 24px auto;
		border: 1px solid #AE4A84;
		border-radius: 2px;
		box-shadow: 0 0 1px rgba(0,0,0,0.15)
	}

	.abonement__text.active{
		display: inline-block;
		font-weight: bold;
		color: #AE4A84;
	}

	.abonement > div{
		line-height: 65px;
		text-align: center;
	}

	.abonement img{
		padding-left: 20px;
	}

	.abonement__text{
		display: none;
	}

	.cry {
		width: 200px;
		margin: 0 auto;
	}

	.order_buttons {
		text-align: center;
		margin-top: 42px;
	}

	.order_buttons  a {
		display: inline-block;
		width: 244px;
	    height: 48px;
	    line-height: 48px;
	   	font-size: 18px;
	   	font-weight: bold;
	}

	.order_buttons a.register {
		/*width: 184px;
	    height: 45px;*/
	    background-color: #f3f3f3;
	    border-radius: 10px;
	    color: #AE4A84;
	    box-shadow: 0 3px 2px rgba(0,0,0,0.12);
	}

	.order_buttons a.register.active{
		background-color: #AE4A84;
		color: #fff;
	}  

	.order_buttons .register:last-child  {
		margin-left: 49px;
	}


/*******************  Карточка заказа  Конец **********************************/

/*******************  Настройки Юзера  ****************************************/
	.checked{
		position: relative;
    	top: -14px;
    	color: #4cd964;
	}

	.personal_check .checked{
		top: 0;
	}

	.text.text_moon{
		margin-top: 10px;
	}

	.text.text_moon a{
		color: #AE4A84;
		margin-left: 20px;
	}

	.text.text_danger{
		color: #ae4a84;
		font-weight: bold;
	}

	.check_need {
		width: 661px;
    	/*height: 120px;*/
    	box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
    	padding: 1px 24px 15px;
    	margin-top: 20px;
	}
	.b_header.b_header__tuning{
		text-align: center;
		padding-top: 10px;
	}

	.b_avatar.b_avatar__tuning{
		width: 81px;
		height: 81px;
		margin: 0 auto;
	}

	.b_avatar__tuning img {
		width: 80px;
		height: 80px;			
	}

	.b_text.b_text__tuning{
		display:  block;
		margin: 25px auto 0;
		font-weight: bold;
	}

	.order_content__tuning{
		padding-top: 10px;
	}

	.order_content__subtitle {
		position: relative;
	}

	.order_content__subtitle a{
		position: absolute;
		top: 26px;
		right: 0;
		color: #AE4A84;
	}

	.text.text__anketa{
		display: inline-block;
        position: relative;
    	top: -3px;
    	margin-left: 10px;
	}

	.statistic.statistic__tuning{
		width: 50%;
        margin: 32px auto;
	}
/*******************  Настройки Юзера  Конец **********************************/

/*******************  Лента исполнителей ExecList *****************************/
	.top100{	
		text-align: center;
	    font-size: 24px;
	    font-weight: bold;
	    margin: 24px 0;
	    color: #AE4A84
	}

	.order_item.execlist{
		position: relative;
		padding: 10px;
	}

	.order_item.execlist .b_avatar{
		vertical-align: top;
		margin: 0;
	}

	.order_item.execlist div {
		display: inline-block;
		/*position: relative;*/
	}

	.execlist p {
		padding: 0;
	}

	p.checked.checked__no{
		color: #ae4a84;
	}

	.execlist .b_text{
		top: 15px;
		left: 10px;	
	}

	.execlist .b_text .fio {
		font-size: 14px;
		font-weight: normal;
	}	

	.execlist p.title{
		font-size: 18px;
		font-weight: bold;
	}	

	p.reiting_num {
		font-size: 30px;
		font-weight: bold;
		color: #AE4A84;
		text-align: center;
	}

	.execlist p.check{
		margin-top: 6px;
	    color: #4cd964;
	    font-weight: bold;
	    font-size: 14px;
	}
	.execlist p.check.check__no{
		color: #ae4a84;
	}	

	.exec_details p {
		font-size: 12px;
		line-height: 14px;
		color: #424242;
		margin: 12px 0;
	}

	.execlist .price {
		float: right;
		font-size: 18px;
		font-weight: bold;
	}

	.input__block a{
		position: absolute;
	    right: 0;
	    font-size: 12px;
	    /* vertical-align: bottom; */
	    line-height: 21px;
	    text-decoration: none;
	    color: #AE4A84;
	}

	.order_item.execlist .city{
		display: inline-block;
    	width: 85%;
	}

	.b_response{
		display: flex;
	    justify-content: space-around;
	}

	.b_response_item{
		width: 45%;
	}

	.register__user.active__button.response{
		width: 40%;
		display: block;
		margin: 0 auto;
	}

	.otklic.otklic_right{
		margin: 0 0 0 auto;
	}
	    
/*******************  Лента исполнителей ExecList  Конец  ********************/

/*******************  Карточка исполнителя **********************************/
	ul.service {		
	    list-style-type: disc;
	    margin-left: 30px;
	    margin-bottom: 20px;
	}

	.text_slow span{
		float: right;
	}

	.filtr.filtr_exec{
		padding-top: 24px;
	}

	.b_avatar.b_avatar__exec{
		width: 166px;
		height: 166px;
		margin: 0 auto;
	}

	.b_avatar.b_avatar__exec img{
		width: 165px;
		height: 165px;
	}

	.b_text.b_text__exec{
		margin: 12px auto;
		position: static;
		text-align: center;
		font-size: 18px;
		font-weight: bold;
		color: #AE4A84

	}

	.statistic{
		display: flex;
		justify-content: space-between;
		margin-top: 32px;
	}

	.statistic .b_stat p{
		margin-bottom: 6px;		
	}

	.st-item .b_stat .reiting_num{
		font-size: 30px;
		font-weight: bold;
		color: #000;
	}

	.b_stat  p.reiting_num.first {
		color: #AE4A84;
	}

	.b_stat .reiting_text{
		font-size: 14px;
		font-weight: normal;
		color: #828282;
		text-align: center;
	}

	.filtr.filtr_exec p.top100{
		font-size: 14px;
		color: #AE4A84;
		margin-bottom: 32px;
	}

	.filtr.filtr_exec .buttons a{
		width: 100%;
		font-size: 14px;
		margin-bottom: 16px;
	}

	.filtr.filtr_exec .buttons .register{
		background-color: #f3f3f3;
	}

	.filtr.filtr_exec .buttons .register.active{
		background-color: #AE4A84;
	}

	.filtr.filtr_exec p{
		margin-bottom: 16px;
		font-size: 16px;
		color: #2f2f2f;
	}

	.lk__main.lk__main__exec{
		position: relative;
		padding: 24px 44px 10px 44px;
	}

	.lk__main.lk__main__exec p{
		padding: 0;
		margin-bottom: 20px;
	}

	.lk__main__exec .title{
		width: 	70%;
		font-size: 24px;
	    font-weight: bold;    
	    color: #AE4A84;
	    margin-bottom: 20px;
	}

	.lk__main__exec div{
		/*display: inline-block;*/
	}

	.b-right{
		position: absolute;
	    right: 74px;
	    top: 18px;  /*24px;*/
	}

	.b-right .letter div{
		display: inline-block;
	}

	.lk__main__exec .b-right .letter{
		position: relative;
		line-height: 38px;
	    padding-left: 16px;
	    width: 139px;
	    height: 40px;
	    background-color: #AE4A84;
	    border-radius: 10px;
	    /*margin-top: 10px;*/
	    color: #fff;
	}

	.lk__main__exec .letter div {
	    color: #fff;
	    position: relative;
	    top: 2px;
	    margin-left: 10px;
	}

	.lk__main__exec .letter img{
		width: 30px;
		vertical-align: middle;
	}

	.exec_prepayment{
		margin: 16px 0;
		font-size: 18px;
		font-weight: bold;
		color: #4cd964;
	}

	.lk__main__exec p.subtitle{
		color: #2f2f2f;
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 12px;
	}

	.lk__main__exec p.text{
		color: #2f2f2f;
		font-size: 14px;
		font-weight: normal;
		margin-bottom: 20px;
	}

	.lk__main__exec p.text.subtitle_text{
		margin-bottom: 0px;
	}

	p.text.subtitle_text:last-child {
		margin-bottom: 20px;
	}	

	p.text_slow{
		font-size: 12px;
		color: #676767;
	}

	p.text_slow:last-child {
		margin-bottom: 20px;
	}

	.slick-track {
	  display: flex!important;
	  align-items: center;
	}	

	.portfolio-slider {
		margin-bottom: 10px;
		/*display: block;*/
	} 

	.portfolio-slider img {
    	max-width: 180px;
	}

	.answer{
		position: relative;
		display: flex;
	    justify-content: space-between;
	    align-items: center;
	    margin-bottom: 25px;
	}
	.answer .text{
		font-size: 14px;
		color: #424242;
	}

	.answer .otklic{
		font-size: 18px;
		font-weight: bold;
		color: #AE4A84;
	}

	a[id^="toggle_response_"]{
		color: #AE4A84!important;
		cursor: pointer;
	}

	div[id^="modal_response_"] .modal-dialog {
		width: 944px;
	}

/*******************  Карточка исполнителя  Конец**********************************/

/*******************  Профиль Юзера **********************************/
	.b_text.b_text__exec p.checked{
		color: #4cd964;
		margin-top: 22px;
		font-weight: bold;
	}
	.b_text.b_text__exec p.checked.checked__no{
		color: #ae4a84;
	}	

	.filtr.filtr_exec  p.rose{
		color: #AE4A84;
		text-align: center;
	}	

	.refer{
		position: absolute;
	    top: 30px;
	    right: 80px;
	    font-size: 14px;
	    color: #AE4A84;
	    cursor: pointer;
	}

	.review_header img{
		width: 41px;
	    border-radius: 50%;	
	}

	.review_header .fio_text {
		position: relative;
		top: -6px;
	    display: inline-block;    
	    margin-left: 10px;
	    font-size: 14px;
	    color: #424242;
	    line-height: 20px;
	}

	.review_details{
		width: 588px;
		margin: 10px auto 15px;
		background: #F9F9F9;
		box-shadow: 0 2px 4px rgba(0,0,0,0.25);
		padding: 10px 16px;	
		border-radius: 5px;	
	}

	.review_details p{
		font-size: 14px;
		font-weight: normal;
		color:#000;
	}

	.order_status{
		font-size: 14px;
	}

	.user_orders a{
		text-decoration: none;
		color:#323232;
	}

	.review_list,
	.user_orders {
		display: none;
	}

	.photo_album{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.portfolio_item{
		margin: 5px;
	}

	.portfolio_item img{
		width: 121px;
		height: 98px;
	}

	.register__user.active__button.save{
		width: 300px;
	    margin: 30px auto 0;
	    display: block;
	}

	.text_details.text_delete{
		font-weight: bold;
   		text-align: center;
    	display: block;
    	margin-top: 30px;
	}

	#modal_delete.text_details.profile{
		position: absolute;
		right: 0
	}

/*******************  Профиль Юзера Конец*****************************/

/*******************  Настройка уведомлений *********8888********************/
	.notifications_content{
		width: 435px;
		margin: 0 auto;
	}

	.notifications_content .order_content__title{
		font-size: 42px;
	}

	div.text.text__push{
		width: 60%;
	}
/*******************  Настройка уведомлений Конец **88888********************/	

/*******************  Страница Баланс *********88888*************************/

	.balance_content{
		width: 590px;
		margin: 0 auto;
	}

	.text__card{
		display: inline-block;
	    position: relative;
	    top: -3px;
	    margin-left: 10px;
	}

	.text.text__card a{
		position: absolute;
	    top: 0px;
	    right: -450px;
	    color: #AE4A84;
	}

	a.text_details{
		font-size: 14px;	
		color: 	#AE4A84;
		line-height: 34px;
		text-decoration: none;	

	}
/*******************  Страница Баланс Конец**********************************/

/*******************  Страница Абонемент **********88************************/
	.notifications_content.__abonement{
		width: 441px;
	}

	.abonement_block{
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 65px;
		background-color: #AE4A84;
		border-radius: 10px;		
	}

	.abonement_block .text{
		margin-left: 15px;
		font-size: 16px;
		font-weight: bold;
		letter-spacing: -0.165px;
		color: #fff;
	}

	.abonement_block img{
		height: 26px;
		margin-right: 15px;
	}

	.__abonement .descript{
		font-size: 14px;
		line-height: 18px;
		letter-spacing: -0.165px;
		margin-top: 24px;

	}

	.__abonement .title{
		margin-top: 16px;
		margin-bottom: 16px;
		font-size: 18px;
		font-weight: bold;
	}

	.__abonement .text.text__push{
		font-size: 18px;
	}

	.__abonement .subtitle{
		text-align: center;
	    font-size: 28px;
	    font-weight: bold;
	    /*margin-top: 40px;*/
	    margin-bottom: 30px;
	}

	.__abonement .messages{
		height: 40px;
	}

	.tarif_box.frosen .flex_sp_bw.row1 > div,
	.tarif_box.frosen .flex_sp_bw.row2 > div {
		color: #828282;
	}

	.tarif_block a{
		color: #828282;
	}

	.best_choice{
		display: inline-block;
		width: 85px;
    	height: 25px;
    	border-radius: 5px;
    	/*margin-top: 18px;*/
    	position: relative;
    	top: 3px;
    	left: 0;
    	background-color: #ae4a84;
    	color: #fff;
    	font-size: 14px;
    	/*z-index: 10;*/
	}

	.best_choice.active{
		width: 115px;
	}

	.best_choice span{
		line-height: 22px;
		margin-left: 16px;
	}

	.__abonement .alert{
		/*padding: 5px 15px;*/
	}

	.__abonement .duration{
		margin-top: 16px;
    	text-align: center;
    	font-size: 14px;
	}

	.__abonement a.freeze_days,
	.frozen {
		display: block;
		margin: 10px auto 0;
    	text-align: center;
    	font-size: 14px;
    	color: #ae4a84;
	}

	.frozen{
		font-weight: bold;
	}

	.order_buttons.abonement a.register.active{
		margin-left: 0;
	}

	.text.text__abonement{
		margin-top: 30px;
		text-align: center;
	}

	.tarif_block{
		position: relative;
    	margin-top: 18px;
	}

	.tarif_box{
		position: relative;		
		width: 100%;
		height: 62px;
		border-radius: 5px;
		box-shadow: 0px 2px 8px rgba(0,0,0,0.25);		
		padding: 12px;
		/*z-index: 30;*/
		background-color: #fff;
	}

	.flex_sp_bw {
		display: flex;
    	justify-content: space-between;
	}

	.flex_sp_bw.row1{
		margin-bottom: 6px;
	}

	.flex_sp_bw.row1 .text1,
	.flex_sp_bw.row2 .text2{
		font-size: 18px;
		font-weight: bold;
		color: #ae4a84;
	}

	.flex_sp_bw.row1 .text2,
	.flex_sp_bw.row2 .text1{
		font-size: 14px;
		font-weight: normal;		
	}

  	.flex_sp_bw.row1 .text2{
  		text-decoration: line-through;
  	}

/*******************  Страница Абонемент Конец ******************************/

/*******************  Страница Ввода фоток документов ***********************/
.wrapper.wrapper__doc{
	margin-top: 150px;
	margin-bottom: 50px;
}

/*******************  Страница Ввода фоток документов Конец *****************/

/*******************  Помощь  ***********************************************/
	.help_content{
		width: 343px;
		margin:0 auto;
	}

	.help_content .order_content__title {
		font-size: 48px;
	}

	.help_content .refer{
		position: static;
		display: inline-block;
		font-size: 14px;
		color: #AE4A84;
		margin-top: 6px;
		margin-bottom: 14px;
	}

	.help_buttons{
		margin-top: 12px;
		display: flex;
	    justify-content: space-between;
	}

	.help_buttons img{
		width: 150px;
		height: auto;
	}
/*******************  Помощь  Конец *****************************************/	

/*******************  Чат-лист - ******************************************/
	.chat_title{
		text-align: center;
	    color: #AE4A84;
	    font-weight: bold;
	    margin-bottom: 20px;
	}

	.status{
		margin-top: 5px;
	    font-size: 12px;
	    color: red;
	    text-align: right;
	}
	.badge.bage_messages{
		position: relative;
	    top: -15px;
	    left: 45px;
	    background-color: red;
	}

	.order_content.tabs_header{
		padding: 0;
		margin-bottom: 20px;
	}

	.tabs_header ul{
		display: flex;
		justify-content: space-between;
	}

	.tabs_header li{
		flex-basis: 100%;
		text-align: center;	
	}

	.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
		background-color: #AE4A84!important;
	}	

	.order_info{
		display: flex;
		justify-content: flex-start;
		margin-bottom: 17px;
	}

	.order_info .number_info{
		flex-basis: 70px;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background-color: #f7b491;
	}

	.order_info .number_info span{
		line-height: 70px;
	    font-size: 36px;
	    font-weight: bold;
	    color: #fff;
	    display: inline-block;
	    width: 100%;
	    text-align: center;
	}  

	.tab-pane{
		padding-top: 30px;	
	} 

	.chat .text_info {
		margin-left: 20px;
		width: 85%;
	}

	.chat .full_number,
	.chat .last_message{
		font-size: 12px;
	}

	.chat .fio{
		font-size: 14px;
		margin-top: 4px;
	}

	.chat .last_message{
		margin-top: 8px;
	}

	a.dialog_ref{
		text-decoration: none;
	    color: black;
	}

	.order_info.chat{
		padding: 5px;
	}
	.order_info.chat:hover{		
    	border: 1px solid #C9C9C9;
    }	
	
    .subtitle{
		text-align: center;
	    font-size: 22px;
	    font-weight: bold;
	}    	

/*******************  Чат лист - Конец ******************************************/

/*******************  Редактирование профиля ******************************************/
	.text_details.profile{
		position: absolute;
		top: 0;
		right: 20px;
		line-height: normal;
		cursor: pointer;
	}

	.text.profile{
		position: relative;
	}
	.text.profile.study{
		font-size: 14px;
		color: #676767;
		margin: 3px 0 10px;
	}

	div.text_details.profile{
		right: 0;
	}

	.modal-header h2{
		font-size: 24px;
		font-weight: 700;
	}

	.modal-footer{
		/*display: none;*/
	}
	
	.delete_account{
		text-align: center;
	}

	.delete_account h3{
		font-size: 18px;
		margin-bottom: 20px;
	}

	.delete_account p{
		font-size: 14px;
		font-weight: normal;
	}

	#cityform-city_id{
		height: 0;
	}

	table.user_cities{
		margin-bottom: 20px;
	}
	
	.city_del{
		width: 100px;
		text-align: center;
	}

	.city_del a{
		position: static;
	}

	.city_del img{
		width: 15px;
		vertical-align: middle;
	}	

	#modal_action{
		cursor: pointer;
	}

	.cont .subtitle{
		font-size: 18px;
		margin-bottom: 10px;
	}

	a#modal_action {
		/*position: static;*/
	}

	#subcategory_id{
		/*height: 0;*/
	}

	.modal-body .subtitle{
		margin-bottom: 10px;
	}

	.modal-content {
		width: 100%; /* 500px;*/
		padding: 20px;
	}

	.text_details.profile {
		width: 70px;
		text-align: right;
		font-weight: bold;
	} 

	.text_details.profile span{
		float: left;
    }

    .choose_elements.price	{
    	width: 100%;
    	justify-content: center;
    }

    .form-group.exactly.price {
    	width: 80%;
    }

    #usercategory-price {
    	display: none;
    }

    .text_details.profile.dates {
    	width: 200px;
    }

    #modal_add_education{
    	position: relative;
    	left: 0;
    	font-weight: bold;
    }
/*******************  Редактирование профиля Конец******************************************/

/*******************  Фотоальбомы ******************************************/
	p.new_album{
		position: relative;
	    margin-bottom: 12px;
	    color: #424242;
	    text-align: right;
	    top: -33px;
	}

	.album_photo{
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-around;
	    align-items: center;
	}

	.album_photo .photo_item{
		width: unset;
		height: unset;
	}

	.album_photo .photo_item img{
		max-width: 200px;
		max-height: 200px;
	}

	.photo_delete{
		position: absolute;
		top: 10px;
		right: 10px;
	}

	img.del_icon{
		width: 20px;
	}	

/*******************  Фотоальбомы Конец******************************************/

/*******************  Cтраница добавления документов ******************************/
	.subtitle__doc,
	.text__doc {	
	    font-size: 18px;
	    line-height: 21px;
	    color: #424242;
	    width: 75%;
	    margin: 24px auto
	}

	.subtitle__doc {
		text-align: center;
	}

	.text__doc{
		text-align: left;
	}

	.require_list{
		margin-top: 24px;
	}

	.b-add-item.add__docs{
		width: 35%;
		margin: 30px auto 0;
	}

	.b-add-item.add__docs .add-photo{
		font-size: 18px;
	}

	.doc_received {	
	    margin: 30px auto;
	    display: block;
	}

/*******************  Cтраница добавления документов Конец ************************/

/*******************  Cтраница диалога по чату ************************************/

.b_header.b_header__tuning.__dialog{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: left;
	/*line-height: 120px;*/
}
.b_avatar.b_avatar__tuning.__dialog{
	margin-left: 30px;
	margin-right: 20px;
}

.b_text.b_text__tuning.__dialog{
	margin-left: 0;	
}

.__dialog .checked{
	display: 	block;
	top: 0;
	margin: 10px 0 10px;
}

.__dialog .addition{
	line-height: 22px;
	text-align: right;
    margin-right: 30px;
}

a.white_btn{
	display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #fff;
    border-radius: 10px;
    color: #ae4a84;
}

.addition .price_from{
	font-size: 14px;
}

.__dialog .visited{
	font-weight: normal;
    font-size: 14px;
}  

.message__dialog {
	width: 80%;
    margin: 20px 0 20px auto;
    background-color: #DEDEDE;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.3;
}

.my_message__dialog{
	width: 80%;
    margin: 20px auto 20px 0;
    background-color: #E0F7E1;
    padding: 20px;
    border-radius: 10px;
}

p.message_time{
	font-size: 14px;
    text-align: right;
    margin-bottom: 0;
}

.__dialog .date-now{
	margin: 20px auto;
    text-align: center;
}

.dialog_rules{
	text-align: center;
	font-size: 14px;
} 

.__dialog .order_inf{
	line-height: 20px;
    margin-top: 20px;
    font-size: 14px;
}

#message-button{
	width: 35px;
	height: 35px;
    position: relative;
    top: 11px;
    left: 20px;

    border: 0;
  	padding: 0;
  	margin: 0;
 	background: url('/web/uploads/images/play32x32.png') no-repeat;
  
  
}

.form-group.send-message{
	display: inline-block;
}

.message_text{
	width: 80%;
}

.message_time.message_time__my,
.isread {
	display: inline-block;
	font-size: 14px;
}

.isread {
	float: right;
}

.buttons__dialog{
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
}

.buttons__dialog >a{
	font-weight: bold;
	color: #ae4a84;
	text-decoration: none;
	cursor: pointer;
}

div.center{
	text-align: center;
}

.choose_buttons{
	text-align: center;
	margin-top: 20px;
}

.choose_buttons button{
	background-color: #AE4A84;
    color: #fff;
    border-radius: 10px;
    display: inline-block;
    width: 244px;
    height: 48px;
    /*line-height: 48px;*/
    font-size: 18px;
    font-weight: bold;
}

.choose__safe span{
	color: #ae4a84;
}

.control-label.choose__safe{
	display: inline-block;
}

.balance{
    display: inline-block;
    float: right;
    color: #ae4a84;
}

.flash_choose{
	margin-top: 20px;
}

.alert.alert-danger.alert-dismissible.choose{
	background-color: white;
    text-align: center;
}

.cancel_subtitle{
	text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}    
/*******************  Cтраница диалога по чату Конец ******************************/

/*******************  Cтраница оценки Заказчика  **********************************/
img.img__center{
	display: block;
    margin: 0 auto;    
}

.label_review{
	font-size: 18px;
    font-weight: bold;
    margin-bottom: 14px;
}
/*******************  Cтраница оценки Заказчика Конец ******************************/

/******************************  Выключатель  **************************************/
	.toggle-button-cover{
		position: relative;
	}


	.form-group.exactly{
		/*width: 45%;		*/
    	display: flex;
    	justify-content: space-between;
	}

	.button-cover
	{   
	    width: 40px;
	    height: 15px;
	    padding: 5px;
	    background-color: #fff;
	    /*box-shadow: 0 3px 0 #e7efef;*/
	}


	.button-cover, .knobs, .layer
	{
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0px;	  
	}

	.only_top .toggle-button-cover{
		left: -17px;
	}

	.button.r
	{
	    position: relative;
	    top: -4px;
	    right: 50px;
	    width: 40px;
	    height: 14px;
	    /*margin: -20px auto 0 auto;*/
	    box-sizing: border-box;
	    /*overflow: hidden;*/
	}

	.only_top .button.r{
		right: 33px;		
	}

	.button.r, .button.r .layer
	{
	    border-radius: 100px;
	    padding: 0;
	}

	.checkbox.tuning
	{
	    position: relative;
	    top: -10px;
	    left: -10px;
	    width: 50px;
	    height: 20px;
	    /*padding: 0;
	    margin: 0;*/
	    opacity: 0;
	    cursor: pointer;
	    z-index: 3
	}

	.knobs
	{
	    z-index: 2;
	}

	.layer
	{
	    width: 100%;
	    background-color: #ebf7fc;
	    transition: 0.3s ease all;
	    z-index: 1;
	}

	/* Button 1 */
	#button-1 .knobs:before,
	#button-top .knobs:before
	{
	    content: '';
	    position: absolute;
	    top: -3px;
	    left: 0px;
	    width: 20px;
	    height: 20px;
	    /*color: #fff;
	    font-size: 10px;
	    font-weight: bold;
	    line-height: 1;
	    text-align: center;
	    padding: 9px 4px;*/
	    background-color: #ae4a84;
	    opacity: 0.38;
	    border-radius: 50%;
	    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
	}

	#button-1 .checkbox:checked + .knobs:before,
	#button-top .checkbox:checked + .knobs:before
	{
	    content: '';
	    left: 20px;
	    background-color: #ae4a84;
	    opacity: 1;

	}

	#button-1 .checkbox:checked ~ .layer,
	#button-top .checkbox:checked ~ .layer
	{
	    background-color: #fcebeb;
	}

	#button-1 .knobs, #button-1 .knobs:before, #button-1 .layer,
	#button-top .knobs, #button-top .knobs:before, #button-top .layer
	{
	    transition: 0.3s ease all;
	}
/******************************  Выключатель Конец ********************************/	