/*******************    Стили ЛК Заказчика  **************************/
body{
	/*position: absolute;*/
	font-family: "Roboto Condensed", sans-serif!important;
	background-color: #999!important;	
}

/*******************  Навигационная панель  **************************/
	.navbar.navbar-default {
		margin-bottom: 0;
		background-color: #fff;
	    border: none;
	}

	.navbar_img img{
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}

	.navbar-default .navbar-nav > li > a{
		font-size: 18px;
		font-weight: normal;
	}

	.navbar-default .navbar-nav > .open > a,
	.navbar-default .navbar-nav > .open > a:hover, 
	.navbar-default .navbar-nav > .open > a:focus { 
		background: unset;
		color: #AE4A84;
		font-weight: bold;
	}

	.navbar-default .navbar-nav > li.active > a { 
	/*.navbar-default .navbar-nav > .active > a:hover, */
	/*.navbar-default .navbar-nav > .active > a:focus {*/
		background: unset!important;
		color: #AE4A84!important;
		font-weight: bold;
	}

	.navbar-default .navbar-nav > li > a:hover{
		color: #AE4A84;
		font-weight: bold;
	} 

	.dropdown-menu > li > a {
		font-size: 18px;
		color: #AE4A84;
		padding-top: 12px;
	    padding-bottom: 12px;
	}

	.dropdown-menu > li > a:hover, 
	.dropdown-menu > li > a:focus {
		font-weight: bold;
		color: #AE4A84;

	}	
/*******************  Навигационная панель Конец  ********************/	


.wrapper__lk{
	margin-top: 140px;
}

/*******************  Левая панель  **********************************/
	.lk__left,
	.lk__main{
		background: #fff;
		border-radius: 10px;
		/*padding: 0 0 10px 0;*/
		margin-bottom: 20px;	
	}

	.lk__left{
		padding: 0 0 10px 0;
	}

	.lk__main{
		padding: 35px 0 10px 0;
	}

	.filtr__header{
		position: relative;
	}

	#reset{
		position: absolute;
		bottom: 5px;
		right: 0;
		/*margin-left: 50px;*/
	} 

	.glyphicon.glyphicon-calendar.kv-dp-icon{
		left: 8px;
	}

	.filtr{
		width: 85%;
	    margin: 0 auto;
		padding-top: 30px;
	}

	.lk__left a.register.active{
		display: block;
		margin: 0 auto;
		background-color: #AE4A84;
	    border-radius: 10px; 
	   
	    width: 184px;
	    height: 45px;    
	    color:  #fff;     
	    
	    font-weight: 700;
	    font-style: normal;
	    font-size: 18px;
	    line-height: 45px;
	    text-align: center;
	    cursor: pointer;    
	}

	.filtr .title {
		display: inline-block;
		padding-top: 30px;
		font-size: 24px;
		font-weight: bold;
	}

	#orderfiltrform-city_id{
		height: 0;
	}

	.chosen-container.chosen-container-multi{
		display: block;
	    width: 100%;
	    /*height: 34px;*/
	    /*padding: 6px 12px;*/
	    font-size: 14px;
	    line-height: 1.42857143;
	    color: #555;
	    background-color: #fff;
	    background-image: none;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
	    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
	    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}

	.field-orderfiltrform-city_id .chosen-container-multi .chosen-choices{
		border: 0;
		background-color: transparent;
		background-image: none;
	}

	.chosen-container-multi .chosen-choices li.search-field {
		padding-left: 9px!important;		
	}

	.chosen-container-multi .chosen-choices li.search-field input[type=text].default{
		font-family: 'Roboto Condensed'!important;
		font-size: 14px;
		font-weight: 400;
		color: rgb(85,85,85)!important;
		height: 30px;
	}

	.input__block{
		position: relative;
		margin-bottom: 15px;
	}

	.input__block .glyphicon-ruble,
	.input__block .glyphicon-chevron-down {
		position: absolute;
		top: 40px;
	      
	    font-size: 12px; 
	}

	.input__block .glyphicon-chevron-down{
		font-size: 15px;
    	opacity: 0.7; 
    	right: 5px; 
    }

    .input__block .glyphicon-ruble{
    	right: 10px;
    }	

	.active__button{
		height: 45px;
	    line-height: 45px;
	    text-align: center;
	    margin: 0 auto;   
	}

	#orders_list a{
		text-decoration: none;
		color: #000;
	}
	    
/*******************  Левая панель  Конец ******* *********************/ 

/*******************  Правая панель   *********************************/ 
	.lk__main p{
		padding: 30px;
		margin: 0;
	}

	.input-group.order-search {
		position: relative;
		width: 644px;
		margin: 0 auto;
	}

	.glyphicon.glyphicon-search {
		position: absolute;
		left: 12px;
    	top: 12px;
    }

    span.input-group-addon.search {
	    padding: 6px 18px;
	    font-size: 14px;
	    font-weight: 400;
	    line-height: 1;
	    color: #555;
	    text-align: center;
	    background-color: #eee!important;
	    border: 1px solid #ccc!important;
	    border-radius: 4px;
	}	

	.order_item{
		max-width: 644px;
		box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
		border-radius: 5px;
		margin: 10px auto;
		padding: 12px 24px;
	}

	.order_category,
	.order_budget {
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 8px;
	}

	.order_details{
		font-size: 12px;
		line-height: 14px;
		text-align: left;
		margin-bottom: 8px;
	}

	.order_budget{
		display: block;
	    width: 100%;
	    text-align: right;
	}

	.order_city {
		float: left;
	}

	.order_added {
		float: right;
	}

	.order_down{
		display: flex;
		justify-content: space-between;
	}

	.color_green{
	 	color: green;
	}

	.color_red{
	 	color: red;
	}

/*******************  Правая  панель  Конец *****************************/ 

/*******************  Страница добавления заказа  ***********************/
	.page__addorder{
		/*height: 900px;*/
	}

	.step_one{
		width: 568px;
		margin: 0 auto;
	}

	.chosen-container-single .chosen-single div b{
		background: url('/web/uploads/images/down_icon12x12.png') no-repeat 0 10px!important;
	}

	.field-addorderform-who_need,
	.field-addorderform-city_id	 {
		width: calc( ( 100% - 40px ) / 2 );
	}

	.add_category{
			font-weight: bold;
			color: #AE4A84;
			cursor: pointer;
			margin-bottom: 15px;
	}	

	.form_addorder_title{
		font-size: 28px;
	    font-weight: 700;
	    text-align: center;
	    padding-top: 32px;
	    padding-bottom: 24px;
	}

	.cabinet-addOrder{
		/*width: 343px;*/
		margin: 0 auto;
	}

	.wrapper__addorder{
		/*position: relative;*/	
		width: 732px;
	    margin: 140px auto 30px;    
	    /*margin-bottom: 30px;*/
	    border-radius: 10px;
	    background: #fff;
	    padding-bottom: 30px;
	}


	.chosen-container-single .chosen-single {
		height: 34px!important;
	}

	a.chosen-single{
		height: 34px;
		padding-left: 14px!important;
		font-size: 14px!important;
		background: none!important;
	}

	a.chosen-single span{
		line-height: 34px;
		color: #555!important;
	}

	.chosen-master {
	  display: inline-block !important;
	  width: 1px;
	  height: 1px;
	  margin: 0;
	  padding: 0;
	  border: 0;
	}

/*************************** Вторая страница ****************************/
	.step_two{
		display: none;	
	    width: 568px;
	    margin: 0 auto;
	}

	.field-addorderform-members{
		width: 50%;
	}

	#addorderform-details{
		resize: vertical;
	}

	.flex_block {	
		display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;	
	}

	.flex_block .form-group{
		width:calc( ( 100% - 40px ) / 2 );
	}

	.choose_elements {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	#addorderform-order_budget,
	#addorderform-prepayment{
		display: none;
		/*width: 45%;*/
	}

	.item_choose{
		width: 45%;
	}

	.input-group-addon {
		background-color: #fff!important;
	    border: none!important;
	}

	.input-group-addon.kv-field-separator::before{
		content: 'до';
		color: #000;
		color: #000;    
	    padding-left: 11px;
	}

	span.input-group-addon.kv-field-separator{
		color: #fff;
	}

	.cont{
		display: none;
	}

	.cont.active{
		display: block;
	}

	#c0.cont{
		display: block;
	}

	.image-preview.image_large {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: center; ;
	    /*margin-bottom: 30px;*/
	    align-items: center;
	}

	.photo_item {
	    position: relative;
	    /*width: calc( ( 100% - 50px ) / 3 );*/
	    width: 160px;
	    height: 160px;
	    overflow: hidden;
	    margin: 10px;
	}

	.image-preview.image_large img {
	    width: 100%;
	    height: auto;
	    margin-top: 10px;
	}

	div.add-photo {
	    display: block;
	    position: relative;
	    background: url(/web/uploads/images/ic-photo.png) no-repeat;
	    background-position: right +25px bottom +10px;
	    background-size: 28px 28px;
	    border-radius: 7px;
	    height: 50px; /*150px;*/
	    /*padding: 25px 15px;*/
	    padding-left: 15px;
	    font-family: 'Montserrat', sans-serif;
	    font-size: 14px;
	    line-height: 50px;
	    font-weight: 400;
	    color: #2c2f39;
	    background-color: #f2f2f2;
	    border: 1px solid #f2f2f2;
	    border-radius: 6px;
	    -webkit-box-shadow: none !important;
	    box-shadow: none !important;
	}

	.add-photo input[type="file"]#image {
	    position: absolute;
	    opacity: 0;
	    width: 100%;
	}

	input#image {
	    cursor: pointer;
	}

	input[type="file"] {
    /* position: absolute; */
	    top: 0;
	    left: 0;
	    height: 50px;  /*150px;*/
	    width: 100%;
	    /* opacity: 0; */
	    color: #2c2f39;
	    background-color: #f2f2f2!important;
	    /* border: 1px solid #f2f2f2!important; */
	    border-radius: 6px;
	}

	.pagination{
		padding-left: 20px!important;
	}


/*******************  Страница добавления заказа Конец ******************/

/*******************  Карточка заказа  **********************************/
	.wrapper__addorder__card{
		padding: 0;
		border-radius: 0;
		background: transparent;
	}

	.b_header{
		position: relative;
		height: 130px;
		background-color: #AE4A84;
		border-radius: 10px;
		color: #fff;
		margin-bottom: 32px;
	}

	.b_header div{
		display: inline-block;	
	}

	.b_right{
		position: absolute;
		right: 10px;
	}

	.b_avatar{
		width: 92px;
		height: 92px;
		border-radius: 50%;
		background-color: #424242;
		border: 0.5px solid #fff; 
		margin: 19px 24px; 
	}

	.b_avatar img{
		width: 89px;
		height: 90px;
		border-radius: 50%;
	}

	.b_text{
		position: relative;
		top: 20px;
	}

	.b_text span.fio{
		font-size: 18px;
		line-height: 18px;
	}

	.b_text p.check{
		font-size: 14px;
		line-height: 14px;
		color: #4cd964;
		margin-top: 12px;
		margin-bottom: 0;
	}

	.b_right {
	    position: absolute;
	    right: 24px;
	    top: 30px;   
	}

	.b_right .order_num{
		font-size: 18px;
		line-height: 18px;
		font-weight: bold;
		text-align: right;
	}

	.b_right .letter{
		line-height: 38px;
	    padding-left: 26px;
		width: 139px;
		height: 40px;
		background-color: #fff;
		border-radius: 10px;
		margin-top: 10px;
	}

	.b_right .letter img{
		margin-right: 15px;
	}

	.b_right .letter span{
		color: #AE4A84;
	}

	.letter div{
		position: relative;
	    top: 1px;
	}

	/**************************** Содержание заказа ***************************/
	.order_content{
		background-color: #fff;
		border-radius: 10px;
		padding: 0 35px 20px;
	}

	.order_content__title{
		font-size: 28px;
		font-weight: 700;
		line-height: 32.81px;
		color: #000;
		text-align: center;
		padding-top: 32px;
    	padding-bottom: 8px;
	}

	.order_content__budget{
		font-size: 22px;
		font-weight: bold;
		line-height: 26px;
		text-align: center;
		padding-bottom: 16px;
	}

	.order_content__declare{
		font-size: 20px;
		font-weight: bold;
		line-height: 18px;
		margin-bottom: 12px;
	}

	.order_content p{
		margin-bottom: 12px;
		color: #424242;
	}

	.slider img {
		max-width: 200px;
	}

	.slick-prev:before, .slick-next:before {
		color: #000!important;
	}

	.order_content__subtitle {
		margin-top: 16px;
		margin-bottom: 8px;	
		font-size: 18px;
		line-height: 18px;
		font-weight: bold;	
	}

	.reiting {
		margin-top: 16px;
		margin-bottom: 8px;	
	}	

	.reiting div.blank { 
		position: relative;
	    top: 2px;
	    left: 20px;
	    display: inline-block;
	    font-size: 14px;
		line-height: 14px;
		font-weight: normal;
	}

	.order_content .text{
		font-size: 14px;
		line-height: 18px;
		font-weight: normal;
	}

	.order_content span.cancel{
		text-decoration: line-through;	
	}

	.order_content span.blank{
		margin-left: 20px;
	}

	.abonement.active{
		width: 668px;
		height: 65px;
		margin: 24px auto;
		border: 1px solid #AE4A84;
		border-radius: 2px;
		box-shadow: 0 0 1px rgba(0,0,0,0.15)
	}

	.abonement__text.active{
		display: inline-block;
		font-weight: bold;
		color: #AE4A84;
	}

	.abonement > div{
		line-height: 65px;
		text-align: center;
	}

	.abonement img{
		padding-left: 20px;
	}

	.abonement__text{
		display: none;
	}

	.cry {
		width: 200px;
		margin: 0 auto;
	}

	.order_buttons {
		text-align: center;
		margin-top: 42px;
	}

	.order_buttons  a {
		display: inline-block;
		width: 244px;
	    height: 48px;
	    line-height: 48px;
	   	font-size: 18px;
	   	font-weight: bold;
	}

	.order_buttons a.register {
		/*width: 184px;
	    height: 45px;*/
	    background-color: #f3f3f3;
	    border-radius: 10px;
	    color: #AE4A84;
	    box-shadow: 0 3px 2px rgba(0,0,0,0.12);
	}

	.order_buttons a.register.active{
		background-color: #AE4A84;
		color: #fff;
	}  

	.order_buttons .register:last-child  {
		margin-left: 49px;
	}


/*******************  Карточка заказа  Конец **********************************/

/*******************  Настройки Юзера  ****************************************/
	.b_header.b_header__tuning{
		text-align: center;
		padding-top: 10px;
	}

	.b_avatar.b_avatar__tuning{
		width: 81px;
		height: 81px;
		margin: 0 auto;
	}

	.b_avatar__tuning img {
		width: 80px;
		height: 80px;			
	}

	.b_text.b_text__tuning{
		display:  block;
		margin: -8px auto;
		font-weight: bold;
	}

	.order_content__tuning{
		padding-top: 10px;
	}

	.order_content__subtitle {
		position: relative;
	}

	.order_content__subtitle a{
		position: absolute;
		top: 26px;
		right: 0;
		color: #AE4A84;
	}


/*******************  Настройки Юзера  Конец **********************************/


/******************************  Выключатель  ********************************/
	.toggle-button-cover{
		position: relative;
	}


	.form-group.exactly{
		/*width: 45%;		*/
    	display: flex;
    	justify-content: space-between;
	}

	.button-cover
	{   
	    width: 40px;
	    height: 15px;
	    padding: 5px;
	    background-color: #fff;
	    /*box-shadow: 0 3px 0 #e7efef;*/
	}


	.button-cover, .knobs, .layer
	{
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	  
	}

	.button.r
	{
	    position: relative;
	    top: -4px;
	    right: 50px;
	    width: 40px;
	    height: 14px;
	    /*margin: -20px auto 0 auto;*/
	    box-sizing: border-box;
	    /*overflow: hidden;*/
	}

	.button.r, .button.r .layer
	{
	    border-radius: 100px;
	    padding: 0;
	}

	.checkbox
	{
	    position: relative;
	    top: -10px;
	    left: -10px;
	    width: 50px;
	    height: 20px;
	    /*padding: 0;
	    margin: 0;*/
	    opacity: 0;
	    cursor: pointer;
	    z-index: 3
	}

	.knobs
	{
	    z-index: 2;
	}

	.layer
	{
	    width: 100%;
	    background-color: #ebf7fc;
	    transition: 0.3s ease all;
	    z-index: 1;
	}

	/* Button 1 */
	#button-1 .knobs:before
	{
	    content: '';
	    position: absolute;
	    top: -3px;
	    left: 0px;
	    width: 20px;
	    height: 20px;
	    /*color: #fff;
	    font-size: 10px;
	    font-weight: bold;
	    line-height: 1;
	    text-align: center;
	    padding: 9px 4px;*/
	    background-color: #ae4a84;
	    opacity: 0.38;
	    border-radius: 50%;
	    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
	}

	#button-1 .checkbox:checked + .knobs:before
	{
	    content: '';
	    left: 20px;
	    background-color: #ae4a84;
	    opacity: 1;

	}

	#button-1 .checkbox:checked ~ .layer
	{
	    background-color: #fcebeb;
	}

	#button-1 .knobs, #button-1 .knobs:before, #button-1 .layer
	{
	    transition: 0.3s ease all;
	}
/******************************  Выключатель Конец ********************************/	