/*******************    Стили ЛК Заказчика  **************************/

.lk__left,
.lk__main{
	background: #fff;
	border-radius: 10px;
	height: 200px;
}

.lk__left a.register.active{
    width: 184px;
    height: 45px;
    background-color: #AE4A84;
    border-radius: 10px; 
    color:  #fff;  
}    