@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

body{
  background:   #F3F3F3;
}

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

/*@import url('//fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,700|Exo+2:400,700&subset=cyrillic');*/
/*$font-exo: 'Exo 2', sans-serif;*/
/**
*
* @link http://www.htmlcsscolor.com/ Color name
*
**/
body {
  font-size: 17px;
  color: #000000;
  font-family: "Roboto", sans-serif; }

/*a {
    @include unstyled-link();
}*/
.pink-button {
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background: #AE4A84;
  padding: 15px 35px;
  font-size: 21px;
  color: #ffffff;
  text-decoration: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 3px 1px #732050;
  -webkit-box-shadow: 0 3px 1px #732050;
  box-shadow: 0 3px 1px #732050; }
  .pink-button:hover {
    text-decoration: none;
    color: #ffffff;
    background: #732050; }

.popup-form {
  background: #ffffff;
  width: 800px;
  margin: 0 auto;
  position: relative;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  .popup-form#addtocart-success {
    width: 580px; }
    @media print, screen and (max-width: 767px) {
      .popup-form#addtocart-success {
        width: auto; } }
  .popup-form#buyperclick-form {
    width: 576px; }
    @media print, screen and (max-width: 767px) {
      .popup-form#buyperclick-form {
        width: auto; } }
  .popup-form .mfp-close {
    color: #7999E4;
    font-size: 43px; }
  .popup-form .header {
    background: #F7F7F7;
    font-size: 25px;
    color: #000000;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    padding: 17px 35px;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px;
    border-radius: 4px 4px 0 0; }
  .popup-form .form-content {
    padding: 25px; }
    .popup-form .form-content .product-info .image {
      display: inline-block;
      vertical-align: top;nter
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: 204px;
      border: 1px solid #D9DADA;
      padding: 4px; }
      .popup-form .form-content .product-info .image .product-image {
        width: 188px;
        border: 1px solid #D9DADA; }
    .popup-form .form-content .product-info .info {
      display: inline-block;
      vertical-align: top;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      padding-left: 20px; }
      .popup-form .form-content .product-info .info .product-name {
        font-size: 21px;
        color: #5B5B5B;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: bold;
        margin-bottom: 30px;
        max-width: 270px; }
      .popup-form .form-content .product-info .info .count {
        margin-bottom: 30px; }
        .popup-form .form-content .product-info .info .count span {
          display: inline-block;
          vertical-align: bottom;
          *vertical-align: auto;
          *zoom: 1;
          *display: inline;
          font-size: 15px;
          color: #898989;
          font-family: "Roboto Condensed", sans-serif;
          width: 88px; }
        .popup-form .form-content .product-info .info .count .quantity {
          border: 1px solid #DFDCDC;
          width: 86px;
          height: 32px;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          border-radius: 2px;
          font-size: 15px;
          color: #434242;
          font-family: "Roboto", sans-serif;
          text-align: center; }
          .popup-form .form-content .product-info .info .count .quantity .qty {
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            *zoom: 1;
            *display: inline;
            padding: 5px;
            font-size: 22px;
            color: #434242; }
            .popup-form .form-content .product-info .info .count .quantity .qty:hover, .popup-form .form-content .product-info .info .count .quantity .qty:focus, .popup-form .form-content .product-info .info .count .quantity .qty:active {
              text-decoration: none; }
          .popup-form .form-content .product-info .info .count .quantity input[type=text] {
            width: 30px;
            border: none;
            height: 30px;
            text-align: center; }
      .popup-form .form-content .product-info .info .common-count {
        font-size: 15px;
        color: #898989;
        font-family: "Roboto Condensed", sans-serif;
        margin-bottom: 5px; }
        .popup-form .form-content .product-info .info .common-count span {
          color: #434242; }
      .popup-form .form-content .product-info .info .sum {
        font-size: 21px;
        color: #898989;
        font-family: "Roboto Condensed", sans-serif;
        margin-bottom: 20px; }
        .popup-form .form-content .product-info .info .sum span {
          color: #434242; }
      .popup-form .form-content .product-info .info .button-line a {
        width: 200px;
        margin-bottom: 5px; }
    .popup-form .form-content .product-info .incart {
      font-size: 21px;
      color: #000000;
      font-family: "Roboto Condensed", sans-serif;
      padding-bottom: 25px; }
      .popup-form .form-content .product-info .incart .sum {
        font-weight: bold; }
    .popup-form .form-content .product-info .cta {
      font-size: 17px;
      color: #434242;
      padding-bottom: 30px; }
    .popup-form .form-content .product-info form label {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      font-size: 17px;
      color: #000000;
      font-family: "Roboto Condensed", sans-serif;
      width: 120px; }
      .popup-form .form-content .product-info form label red {
        color: #FF0000; }
    .popup-form .form-content .product-info form input[type=text] {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: 380px;
      height: 34px;
      border: 1px solid #5B5B5B;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      margin-bottom: 10px;
      cursor: pointer; }
      .popup-form .form-content .product-info form input[type=text]:hover, .popup-form .form-content .product-info form input[type=text]:focus, .popup-form .form-content .product-info form input[type=text]:active {
        border-color: #7999E4; }
    .popup-form .form-content .product-info form button[type=submit] {
      width: 198px;
      display: block;
      margin-left: 124px; }
    .popup-form .form-content .product-info .success, .popup-form .form-content .product-info .error {
      font-size: 21px;
      text-align: center; }
    .popup-form .form-content .product-info .success {
      color: #7999E4; }
    .popup-form .form-content .product-info .error {
      color: #FF0000; }
    @media print, screen and (max-width: 767px) {
      .popup-form .form-content {
        padding: 15px; }
        .popup-form .form-content .product-info .image {
          display: block;
          margin: 5px auto;
          height: 200px;
          text-align: center;
          width: auto;
          border: none; }
          .popup-form .form-content .product-info .image img {
            max-width: 100%;
            max-height: 100%;
            width: auto; }
        .popup-form .form-content .product-info .info {
          display: block;
          margin-left: 0; }
          .popup-form .form-content .product-info .info .button-line {
            text-align: center; }
            .popup-form .form-content .product-info .info .button-line br {
              display: none; }
        .popup-form .form-content .product-info form input[type=text] {
          width: 100%; }
        .popup-form .form-content .product-info form button[type=submit] {
          margin: 0 auto; } }

.page, .page-category {
  /*padding-bottom: 60px;*/ }

.page-text {
  font-size: 17px;
  color: #434242;
  padding-bottom: 60px;
  line-height: 1.3;
  margin-top: 50px;
  padding-top: 40px;
  background: #F2F2F3; }
  .page-text p {
    margin: 15px 0; }
  .page-text h1 {
    font-size: 25px;
    color: #364657;
    font-weight: bold;
    padding-bottom: 30px; }
  .page-text h2, .page-text h3 {
    font-size: 21px;
    color: #364657;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 20px; }
  .page-text h4, .page-text h5, .page-text h6 {
    font-size: 17px;
    color: #364657;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 15px; }
  .page-text b, .page-text strong {
    font-weight: bold; }
  .page-text i, .page-text em {
    font-style: italic; }
  @media print, screen and (max-width: 999px) {
    .page-text {
      padding-left: 10px;
      padding-right: 10px; } }

:focus, a:focus {
  outline: none; }

.wrapper {
  
  width: 100%;
  max-width: 1070px; /* 1000px;*/
  padding:  0 15px;
  margin: 0 auto;
  position: relative; }
  .wrapper__header{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
  }

header {
  position: relative; }
  header .line-top {
    background: #5E5971;
    padding: 7px 0; }
    header .line-top .auth-links {
      position: absolute;
      top: 4px;
      right: 0; }
      header .line-top .auth-links img {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        margin-right: 5px; }
      header .line-top .auth-links a {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        font-size: 15px;
        color: #ffffff;
        text-decoration: none; }
  header .line-bottom {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 1000;
    opacity: 0.9;
    padding: 10px 0;
    *position: relative;
    *border-bottom: 1px solid #DFDCDC; }
    header .line-bottom .logo {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      padding-right: 15px;
      cursor: pointer; }
    header .line-bottom .slogan {
      width: 167px;
      font-size: 14px; /*15px;*/
      color: #9C8480;
      text-transform: uppercase;
      line-height: 16.41px;  /*1.3;*/
      font-style: normal;
      font-family: 'Roboto Condensed';
      font-weight: 300;
      /*padding: 8px 15px;*/
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      *border-left: 1px solid #FFB895; }
    header .line-bottom .bullet {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      font-size: 15px;
      line-height: 1.2; }
      header .line-bottom .bullet .el {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        padding-right: 15px; }
        header .line-bottom .bullet .el:before {
          content: '';
          background: #FFB895;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          width: 14px;
          height: 14px;
          display: inline-block;
          *vertical-align: middle;
          *vertical-align: auto;
          *zoom: 1;
          *display: inline;
          margin-right: 5px; 
          margin-top: 5px; }
        header .line-bottom .bullet .el span {
          display: inline-block;
          vertical-align: top; /*middle;*/
          *vertical-align: auto;
          *zoom: 1;
          *display: inline; }
    header .line-bottom .phone-block {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      padding: 10px 0; }
      header .line-bottom .phone-block .address, header .line-bottom .phone-block .phone {
        padding: 3px 0; }
        header .line-bottom .phone-block .address img, header .line-bottom .phone-block .phone img {
          display: inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          *zoom: 1;
          *display: inline;
          margin-right: 5px; }
        header .line-bottom .phone-block .address span, header .line-bottom .phone-block .phone span {
          font-size: 16.2px;
          color: #000000;
          display: inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          *zoom: 1;
          *display: inline; }
          header .line-bottom .phone-block .address span a, header .line-bottom .phone-block .phone span a {
            text-decoration: none;
            font-size: 25px;
            color: #000000; }
      header .line-bottom .phone-block .call-order {
        margin-top: 5px; }
        header .line-bottom .phone-block .call-order .icon {
          display: inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          *zoom: 1;
          *display: inline;
          padding-right: 5px; }
        header .line-bottom .phone-block .call-order a {
          display: inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          *zoom: 1;
          *display: inline;
          font-size: 11px;
          color: #74A3C7;
          font-style: italic;
          text-decoration: underline; }

@media print, screen and (min-width: 1000px) {
  [class='page']:not(.page-text) {
    min-height: 700px; } }
footer {
  *background: url("/uploads/images/fbc.png");
  *background-size: cover;
  padding-bottom: 50px;
  clear: both; }
  footer .line-top {
    padding: 40px 0; }
    footer .line-top .logo {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      padding-right: 40px; }
    footer .line-top .slogan {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      font-size: 17px;
      color: #ffffff;
      text-transform: uppercase;
      line-height: 1.4; }
  footer .footer-menu {
    padding-top: 40px;
    border-bottom: 1px solid #333333;
    padding-bottom: 62px; }
    footer .footer-menu .menu > li {
      display: inline-block;
      vertical-align: top;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: 32%;
      margin-right: 5px;
      font-size: 15px;
      color: #A2D9F7;
      margin-top: 22px; }
      footer .footer-menu .menu > li a {
        text-decoration: none;
        color: #A2D9F7; }
        footer .footer-menu .menu > li a:hover {
          text-decoration: underline; }
      footer .footer-menu .menu > li ul {
        font-size: 13px;
        color: #D9DADA; }
        footer .footer-menu .menu > li ul li {
          margin-top: 22px; }
          footer .footer-menu .menu > li ul li a {
            font-size: 13px;
            color: #D9DADA;
            text-decoration: none;
            line-height: 1.2; }
  footer .bottom {
    padding-top: 52px; }
    footer .bottom .left {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: 600px; }
      footer .soc a {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        width: 30px;
        height: 30px;
        *margin-right: 24px;
        margin: 11px 0;
        border: 1px solid #74A3C7;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        text-align: center; }
        footer .soc a.instagram {
          background: url("/uploads/images/003-instagram.png") no-repeat center center; }
        footer .soc a.facebook {
          background: url("/uploads/images/004-facebook.png") no-repeat center center; }
        footer .soc a.twitter {
          background: url("/uploads/images/005-twitter.png") no-repeat center center; }  
        footer .soc a.vkontakte {
          background: url("/uploads/images/001-vk.png") no-repeat center center; }
        footer .soc a.youtube {
          background: url("/uploads/images/002-youtube.png") no-repeat center center; }
        footer .soc a.whatsapp {
          background: url("/uploads/images/006-whatsapp.png") no-repeat center center; }
        /*footer .soc a.googleplus {
          background: url("/uploads/images/soc-gp.png") no-repeat center center; }*/
        footer .soc a:hover {
          background-color: #74A3C7; }
    footer .bottom .right {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: 350px;
      font-size: 17px;
      color: #ffffff; }
  footer .copyright {
    padding-top: 30px;
    font-size: 12.2px;
    color: #5B5B5B;
    line-height: 1.4; }
    footer .copyright p {
      margin: 0 0 15px; }
    footer .copyright .sitemap {
      float: right;
      width: 350px; }
      footer .copyright .sitemap.product {
        padding: 0; }
      footer .copyright .sitemap a {
        font-size: 17px;
        color: #D9DADA;
        font-family: "Roboto Condensed", sans-serif;
        text-decoration: none; }
  @media print, screen and (max-width: 999px) {
    footer .col-left {
      display: none; }
    footer .col-menu {
      display: block;
      width: auto;
      margin: 0 20px 20px; }
    footer .col-work {
      float: right;
      padding-right: 10px; }
    footer .copyright {
      padding-top: 0;
      padding-left: 10px;
      padding-right: 10px; }
      footer .copyright .sitemap {
        padding-bottom: 20px;
        float: none;
        padding-top: 0; }
        footer .copyright .sitemap.product {
          float: right; } }
  @media print, screen and (max-width: 767px) {
    footer .col-menu > ul:last-child {
      -moz-column-count: auto;
      -webkit-column-count: auto;
      column-count: auto; }
    footer .col-work {
      float: none;
      padding: 20px; } }

#top {
  position: fixed;
  right: 30px;
  bottom: 50px;
  display: none;
  text-align: center;
  cursor: pointer;
  opacity: 0.8; }
  #top .image, #top .text {
    display: block; }
  #top:hover {
    opacity: 1; }

.breadcrumb {
  padding: 20px 0;
  font-size: 13px; }
  .breadcrumb li {
    display: inline-block;
    vertical-align: top;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-right: 5px; }
    .breadcrumb li a {
      color: #000000;
      text-decoration: none; }
      .breadcrumb li a:hover {
        text-decoration: underline; }
    .breadcrumb li.active {
      color: #727271;
      text-decoration: underline; }
  @media print, screen and (max-width: 999px) {
    .breadcrumb {
      padding: 10px 20px; } }

.section-foz .foz {
  padding-top: 50px;
  text-align: center;
  border: 1px solid #D9DADA;
  background: #ffffff;
  -moz-box-shadow: 15px 15px 50px #D9DADA;
  -webkit-box-shadow: 15px 15px 50px #D9DADA;
  box-shadow: 15px 15px 50px #D9DADA; }
  .section-foz .foz .header {
    padding: 0 40px;
    line-height: 1.3; }
    .section-foz .foz .header .top {
      font-size: 25px; }
    .section-foz .foz .header .bottom {
      font-size: 21px;
      color: #9D9E9E; }
  .section-foz .foz form {
    padding: 45px 0;
    position: relative; }
    .section-foz .foz form .form-group, .section-foz .foz form .help-block {
      display: inline; }
  .section-foz .foz input[type=text], .section-foz .foz input[type=tel] {
    display: block;
    background: #EEF2F7;
    width: 239px;
    padding: 0 18px;
    border: 1px solid #DDDFE0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    height: 49px;
    margin: 0 0 13px 88px;
    font-size: 17px;
    color: #1A1A1A;
    font-weight: 300; }
  .section-foz .foz textarea {
    position: absolute;
    top: 45px;
    right: 88px;
    background: #EEF2F7;
    width: 450px;
    padding: 18px;
    border: 1px solid #DDDFE0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    height: 77px;
    font-size: 17px;
    color: #1A1A1A;
    font-weight: 300; }
  .section-foz .foz button {
    display: block;
    width: 275px;
    background: #FFDD2D;
    height: 57px;
    font-size: 17px;
    margin: 45px auto;
    border: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer; }
  .section-foz .foz .checkbox {
    position: absolute;
    bottom: 30px;
    width: 100%; }
    .section-foz .foz .checkbox label {
      font-size: 11px;
      position: relative;
      cursor: pointer; }
      .section-foz .foz .checkbox label input[type=checkbox] {
        display: none; }
      .section-foz .foz .checkbox label:before {
        display: inline-block;
        vertical-align: top;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        width: 17px;
        height: 17px;
        content: '';
        border: 1px solid #C5C6C6;
        margin-right: 5px; }
      .section-foz .foz .checkbox label.checked:after {
        position: absolute;
        top: 1px;
        left: 4px;
        content: url("/uploads/images/ch.png"); }

.popup-description {
  margin: 0 auto;
  position: relative;
  background: #ffffff;
  width: 800px;
  padding: 30px; }
  .popup-description img {
    max-width: 100%; }
  .popup-description b, .popup-description strong {
    font-weight: bold; }
  .popup-description i {
    font-style: italic; }
  @media print, screen and (max-width: 999px) {
    .popup-description {
      width: auto; } }

.main-foz {
  width: 600px;
  height: 300px;
  border: 1px solid #D9DADA;
  background: #ffffff;
  padding: 30px 15px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  position: relative;
  -moz-box-shadow: 10px 9px 53px -21px;
  -webkit-box-shadow: 10px 9px 53px -21px;
  box-shadow: 10px 9px 53px -21px;
  margin: 0 auto; }
  .main-foz:after {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    height: 100%;
    content: ''; }
  .main-foz .header {
    font-size: 21px;
    padding-bottom: 15px; }
  .main-foz input[type=text], .main-foz input[type=tel] {
    display: block;
    width: 100%;
    height: 49px;
    background: #EEF2F7;
    padding: 0 15px;
    font-size: 17px;
    color: #1A1A1A;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-bottom: 15px;
    border: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .main-foz input[type=text]:-moz-placeholder, .main-foz input[type=tel]:-moz-placeholder {
      color: #1A1A1A; }
    .main-foz input[type=text]::-moz-placeholder, .main-foz input[type=tel]::-moz-placeholder {
      color: #1A1A1A; }
    .main-foz input[type=text]:-ms-input-placeholder, .main-foz input[type=tel]:-ms-input-placeholder {
      color: #1A1A1A; }
    .main-foz input[type=text]::-webkit-input-placeholder, .main-foz input[type=tel]::-webkit-input-placeholder {
      color: #1A1A1A; }
  .main-foz button[type=submit] {
    display: block;
    width: 100%;
    background: #FFDD2D;
    height: 57px;
    font-size: 17px;
    margin: 25px 0;
    border: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer; }
  .main-foz .checkbox {
    position: absolute;
    bottom: 37px;
    width: 90%; }
    .main-foz .checkbox label {
      font-size: 11px;
      position: relative;
      cursor: pointer; }
      .main-foz .checkbox label input[type=checkbox] {
        display: none; }
      .main-foz .checkbox label:before {
        display: inline-block;
        vertical-align: top;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        width: 17px;
        height: 17px;
        content: '';
        border: 1px solid #C5C6C6;
        margin-right: 5px; }
      .main-foz .checkbox label.checked:after {
        position: absolute;
        top: 1px;
        left: 4px;
        content: url("/uploads/images/ch.png"); }
  .main-foz .success, .main-foz .error {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    max-width: 80%;
    font-size: 21px;
    line-height: 1.3; }
  .main-foz div[data-pjax-container] {
    display: inline; }

.template-main .section-1 .header {
  font-size: 42px;
  line-height: 49px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  *padding: 60px 0;
  text-align: left; }
.template-main .section-1 .button-line {
  padding-bottom: 40px;
  text-align: center; }
  .template-main .section-1 .button-line .element {
    display: inline-block;
    vertical-align: top;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin: 0 50px; }
    .template-main .section-1 .button-line .element .comment {
      display: inline-block;
      vertical-align: top;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      padding-top: 15px;
      font-size: 15px; }
.template-main .section-1 .avert-place {
  border: 2px solid #000000;
  height: 190px;
  margin: 40px 0; }
.template-main .section-1 .block-header {
  text-align: center;
  padding: 60px 0 20px;
  font-size: 25px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  text-transform: uppercase; }
.template-main .section-1 .category-list {
  padding: 40px 0;
  text-align: center; }
  .template-main .section-1 .category-list li {
    display: inline-block;
    vertical-align: top;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 330px;
    text-align: left;
    margin: 10px 0; }
    .template-main .section-1 .category-list li:before {
      content: '';
      background: #FFB895;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      margin-right: 5px; }
    .template-main .section-1 .category-list li:nth-child(3n+3) {
      width: 180px; }
    .template-main .section-1 .category-list li span {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline; }
      .template-main .section-1 .category-list li span a {
        font-size: 23px;
        color: #666666;
        font-family: "Roboto Condensed", sans-serif;
        text-decoration: none; }
.template-main .section-1 .all-categories {
  text-align: center; }
.template-main .section-1 .slider-top100 {
  margin: 20px 0; }
  .template-main .section-1 .slider-top100 .carousel {
    width: 95%;
    margin: 0 auto; }
  .template-main .section-1 .slider-top100 .slides li {
    width: 130px;
    position: relative; }
    .template-main .section-1 .slider-top100 .slides li .image {
      display: inline-block;
      vertical-align: top;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      border: 2px solid #32A13C;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      padding: 2px;
      width: 113px;
      height: 113px;
      text-align: center;
      overflow: hidden; }
    .template-main .section-1 .slider-top100 .slides li .checked {
      background: #32A13C;
      font-size: 9px;
      color: #ffffff;
      font-weight: bold;
      position: absolute;
      bottom: 5px;
      right: 13px;
      padding: 2px;
      text-transform: uppercase; }
    .template-main .section-1 .slider-top100 .slides li:after {
      content: url("/uploads/images/check-confirm.png");
      position: absolute;
      bottom: 20px;
      right: 25px; }
  .template-main .section-1 .slider-top100 .flex-direction-nav .flex-prev {
    left: -30px; }
    .template-main .section-1 .slider-top100 .flex-direction-nav .flex-prev:before {
      font-family: 'FontAwesome';
      display: inline-block;
      text-decoration: none;
      line-height: 1;
      content: ""; }
  .template-main .section-1 .slider-top100 .flex-direction-nav .flex-next {
    right: -30px; }
    .template-main .section-1 .slider-top100 .flex-direction-nav .flex-next:before {
      font-family: 'FontAwesome';
      display: inline-block;
      text-decoration: none;
      line-height: 1;
      content: ""; }
  .template-main .section-1 .slider-top100 .flex-direction-nav a {
    color: #B3B3B3;
    opacity: 1; }
.template-main .section-1 .all-artists {
  text-align: center;
  padding: 20px 0; }
.template-main .section-2 {
  background: #FFF;  /*#F2F2F3; */}
  .template-main .section-2 .header {
    font-size: 32px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    padding: 16px 0;
    *text-transform: uppercase;
    text-align: left; }
  .template-main .section-2 .list-request {
    padding: 20px 0; }
    .template-main .section-2 .list-request .element {
      margin-bottom: 20px; }
      .template-main .section-2 .list-request .element .image {
        display: inline-block;
        vertical-align: top;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        width: 120px; }
      .template-main .section-2 .list-request .element .b {
        display: inline-block;
        vertical-align: top;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        max-width: 870px; }
        .template-main .section-2 .list-request .element .b .name {
          padding-top: 5px;
          /*font-size: 17px;
          color: #AE4A84;*/
          padding-bottom: 5px; }
        .template-main .section-2 .list-request .element .b .time {
          /*font-size: 13px;
          color: #5B5B5B;
          padding-bottom: 5px;*/ }
        .template-main .section-2 .list-request .element .b .text {
          padding: 10px 0;
          *font-size: 17px; }
  .template-main .section-2 .all-requests {
    padding: 20px 0;
    text-align: center; }
.template-main .section-3 {
  padding: 40px 0; }
  .template-main .section-3 .header {
    font-size: 25px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    padding: 30px 0;
    text-transform: uppercase;
    text-align: center; }

/*# sourceMappingURL=template-main.css.map */

/*=============================== моя верстка =========================*/

/*===============================  wrapper__header ======================*/

.logo > img {
  width: 110px;
  height: 52px;
  margin-left: 15px;
}

.el span.number{
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}

.el span.text{
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
}

.buttons a.enter,
.buttons a.register{
  display:  inline-block;
  color:  #AE4A84;
  font-family:  "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
}

.buttons a.enter{
  margin-right:   24px;
}

.buttons a.register{
  margin-right: 15px; 
}  

.buttons a.enter{
  width: 90px;
  height: 45px;
  background-color: #fff;
  border-radius: 10px; 
  color:  #AE4A84; 
}

.buttons a.enter.active,
.buttons a.register.active{
   background-color: #AE4A84;
   color:  #fff; 
}

.buttons a.register {  
  width: 184px;
  height: 45px;
  background-color: #fff;
  border-radius: 10px; 
  color:  #AE4A84;  
}

.buttons a.enter:hover,
.buttons a.enter:focus,
.buttons a.register:hover,
.buttons a.register:focus  {
  background-color: #AE4A84;
  color:  #fff;
}


/*===============================  Section-1 ======================*/
section.section-1{
  height:   661px;
  background: url("/web/uploads/images/header_bg.png") no-repeat center;
  margin-bottom: 63px;
}

.section-1 .header{
  width:  480px;
  padding-top: 162px;
  margin-bottom: 60px;  
}

.section-1 .search{
  position: relative;
  width: 100%;
}

.search input{
  width:  613px;
  height:  53px;
  border:   1px solid rgba(174, 74, 132, 0.2);
  border-radius: 10px;
  background:   rgba(255,255,255,0.5);
  padding-left: 64px; 
  font-family:  "Roboto Condensed", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px; 
  margin-bottom: 40px;  
}

a.search__link{
  position: relative;
  left:  -184px;
  display:  inline-block;
  width: 184px;
  height:   53px;
  background:   #AE4A84;
  border-radius: 10px;
  line-height: 53px;
  text-align: center;
  color:  #fff;
  font-family:  "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px; 
}

.search__img{
  display: inline-block;  
  position: absolute;
  left: 25px;
  top: 15px;
  width: 24px;
  height: 24px;
  background: url(/web/uploads/images/shape.png) left center no-repeat ;
}

.section-1__subtitle{
  font-size:  18px;
  line-height:  21px;
  font-weight:  normal; 
  color:  #424242;
}

.section-1 p a span {
  color: #AE4A84; 
  text-decoration: underline;
}

.avert-place{
  width:  100%;
  height:   189px;
  border:   1px solid #000;
  margin-bottom: 60px;  
}

/*================================= Категории ============================*/

  .wrapper__title{
    font-size:  36px;
    font-weight:  bold; 
    line-height: 42px;  
    color:  #424242;
    margin-bottom: 20px;  
  }

  .wrapper p{
    font-size:  18px;
    font-weight:  normal; 
    line-height: 24px;  
    color:  #828282;
    margin-bottom: 40px;  
  }

  .categories{
    width:  100%;
    padding:  0 15px;
    display:  flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 22px;  
  }
      .categories .item{
        width:  125px;
        height: 125px;
        text-align: center;
        line-height: 160px;
        border:   1px solid #fff;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0px 2px 4px rgba(14, 86, 124, 0.1653);
        margin:   0 10px;
        margin-bottom: 23px;
      }
        .categories .item:hover img{
          display:  none;
        }
        .categories .item p{
          display: none;
          padding-top: 50px;
        }
        .categories .item:hover p{
          display: block;
        }  

  .all-categories{
    text-align:   center;
    margin-bottom: 60px;  
  }
/*================================= Категории КОНЕЦ============================*/

/*========================= ТОП-100 исполнителей ========================*/
  .block-header.wrapper__title{
    text-align: center; 
    margin-bottom: 28px;  
  }

  .slider-top100{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 62px;  
  }
    .slider-top100 .card{
      width: 132px;
      height: 188px;
      border-radius: 10px; 
      text-align: center;   
    }
      .slider-top100 .card:hover{
        background: #AE4A84;
        box-shadow: 0 4px 5px rgba(0,0,0,0.15);      
      }

      .slider-top100 .card:hover .card__proff{color:#fff;} 
      .slider-top100 .card:hover .card__name{color:#fff;}
      

  .card a{
    text-decoration: none;  
    font-family:  "Roboto Condensed", sans-serif;
  }

  .card__name{
    font-size:  21px;
    font-weight:  bold;
    line-height:  25px;
    color:  #AE4A84;  
  }

  .card__proff{
    font-size:  18px;
    font-weight:  normal;
    line-height:  21px;
    color: #828282;
  }


    .slider-top100 img{
      width: 116px;
      margin-top: 8px;
      margin-bottom: 6px; 
    }


  .flex-direction-nav .flex-next,
  .flex-direction-nav .flex-prev{
    opacity: 0.5!important;
  }
/*========================= ТОП-100 исполнителей КОНЕЦ========================*/


/*============================= Последние заказы ==============================*/
  .list-request .element{
    max-width: 644px;
    margin: 0 auto;
    padding: 10px 24px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.15);
  }

  .element .category span{
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
  }

  .element .name, 
  .element .time,
  .element .city, 
  .element .time,
  .element .text{
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    letter-spacing: -0.17px;    
  }

  .element .money {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
     letter-spacing: -0.17px;
    
  }
   
  .element .name, 
  .element .city, 
  .element .time{
    color: #828282;
    padding-top: 7px;
  }

  .element .text{
    color: 424242;
  }

  .element .time{
    float: right;
  }
/*============================= Последние заказы КОНЕЦ==============================*/  

/*================== footer =====================*/
  .section__footer{    
    height: 255px;
    background-color: #424242;
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    font-weight: 300;
    text-transform: uppercase;
  }

  .footer__flex {
    position: relative;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;margin: 0 auto;
     
  }  


  .footer__flex__item {
    display: inline-block;
    width: 200px;
    padding: 36px 10px;
  }

  .footer__flex__item.logo .slogan{
    font-size: 10px;
    line-height: 12px;
  }

  .soc{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

    .soc .item{
      width: 30%;
    }

  .footer__flex .shops{
    position: absolute;
    top: 160px;
    right: 0;
  }

  .footer__flex .shops a{
    margin-left: 30px;
  }
/*====================== footer конец=====================---------*/


/*==================== Модальные окна ===============================*/
  .modal-backdrop{
    z-index: 40!important;
  }

  .modal-dialog {
    width: 436px !important;
    height: 541px;
    margin-top: 150px!important;
    border-radius: 16px;
    border: 1px solid rgba(0,0,0,0.12);
    box-shadow: 2px 5px 10px rgba(0,0,0,0.1);
  }

  .modal_header{
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 26px;
  }

  .modal_text{
    margin: 0 auto;
    width: 298px;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    text-align: center;
    color: #424242;
    margin-bottom: 60px;
  }

  .who_you{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .who_you__item{
    width: 45%;
    text-align: center;
  }

  .modal__b1,
  .modal__b2 {
    display: inline-block;
    width: 84px;
    height: 84px;
    border-radius: 10px;
    margin-bottom: 16px;
  }

  .modal__b1{
    /*margin-left: 80px;*/
    background: #F7B491;
  }

  .modal__b2{
    /*margin-left: 104px;*/
    background: #AE4A84;
  }

  .who_you__title{
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    color: #2F2F2F;
    margin-bottom: 12px;
  }

  .who_you__text{
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    color: #2F2F2F;
    margin-bottom: 32px;
  }

  .modal__body img{
    display: block;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 24px;
  }

  #w1 .modal-header{
    padding: 0;
    border: none;
  }

  #w1 button.close{
    display: none;
  }
/*==================== Модальные окна конец===============================*/

/*==================== Страница регистрации Заказчика =======================*/

  .wrapper__regcust{
    width: 1040px;
    margin: 0 auto;
    margin-top: 140px;
    margin-bottom: 30px;
    border-radius: 10px;
    background: #fff;
  }
  .regcust{
    margin: 0 auto;
    width: 343px;
  }
  .form_title{
    font-size: 42px;
    line-height: 49px;
    font-weight: bold;
    text-align: center;
    padding-top: 48px;
    margin-bottom: 32px;
  }

  .form_subtitle{
    font-size: 24px;
    margin-bottom: 10px;
  }

  #w0 .control-label{
    font-size: 18px;
    line-height: 21px;
    font-weight: normal;
    margin-bottom: 8px;
    color: #424242;
  }

  .user-photo{
    width: 342px;
    height: 160px;
    margin: 0 auto;
    border: 1px dashed #C4C4C4;
    border-radius: 20px;
    margin-bottom: 32px;
  }

  .user-photo img{
    display: block;
    width: 36px;
    margin: 32px auto;
  }

  .photo_text{
    width: 160px;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
  }

  .register__user{
    background-color: #AE4A84;
    border-radius: 8px; 
    color:  #fff; 
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    background: #ae4a84;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05),
                0 3px 8px rgba(0,0,0,0.04),
                0 1px 9px rgba(0,0,0,0.08);
    margin-top: 32px;            
    margin-bottom: 48px;  
  }

  .pass__f1,
  .pass__f2{
    position: relative;
  }

  .password-control1, .password-control2, .password-control3 {
      position: absolute;
      top: 35px;
      right: 10px;
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
  }

  .password-control1.view,
  .password-control2.view,
  .password-control3.view  {
      background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;    
  }

  .personal_check__text{
    font-size: 12.5px;
    width: 100%;
    line-height: 20px;
  }

  .personal_check__text::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      height: 20px;
      border-style: solid;
      border-radius: 3px;
      border-color: #ae4a84;
      border-width: 3px;
      background: #fff;
      /* box-shadow: inset 0 2px 3px rgb(0 0 0 / 20%); */
      transition: .2s;
  }

  label.checkbox {
      position: relative;
      cursor: pointer;
  }

  .checkbox input[type=checkbox] {
    position: absolute;
    margin-left: -20px;
  }

  .checkbox input {/*
      position: absolute;*/
      z-index: -1;
      opacity: 0;
      margin: 4px 0 0 20px;    
  }

  .block-image {
      opacity: 0;
      right: 4px;
      top: 2px;
      position: absolute;
      z-index: 10;
      transition: .5s;
      *cursor: pointer;
  } 
  .block-image img {
      width: 12px;
      height: auto;
      max-width: 100%;
      vertical-align: middle;
      border: 0;
  }

  .checkbox input:checked + .block-image {
      display: inline-block;
      opacity: 1;
      transition: .5s;
  }  

  .pass__f2{
    margin-bottom: 32px;
  }  
/*==================== Страница регистрации Заказчика КОНЕЦ==================*/

/*==================== Страница подтверждения данных =======================*/
.confirm_title{
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  padding-top: 48px;
  margin-bottom: 32px;
}
.choose_send,
.choose_code{
  font-size: 18px;
  line-height: 21px;
  color: #424242;
  margin-bottom: 8px;
}

.choose_code{
  opacity:  0.5;
}

#w1 .register__user[disabled='disabled']{
  opacity: 0.5;
}
/*==================== Страница подтверждения данных Конец=======================*/

/*==================== Страница Успешного подтверждения  =======================*/

.confirm_img{
  display: block;;
  margin: 0 auto;
  margin-bottom: 24px;
}

.main_text{
  font-size: 18px;
  line-height: 21px;
  text-align: center;

}

a.register__user{
  display: block;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  margin-bottom: 50px;
}

a.register__user:hover{
  color: #fff;
  background-color: #8D4870;
}

.regcust__confirm .form-group{
  padding-bottom: 2px;
}

.regcust__confirm a:visited{
  color: #fff;
}